.MuiTypography-root {
  font-size: 14px !important;
}

.MuiTablePagination-root,
.MuiTablePagination-root svg {
  color: #999 !important;
}

.MuiDataGrid-menuIcon,
.MuiDataGrid-iconButtonContainer {
  display: none !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-iconButtonContainer {
  display: inline-flex !important;
  visibility: visible !important;
}

.MuiDataGrid-sortIcon,
.MuiDataGrid-sortIcon path {
  color: #6b7280 !important;
  fill: #6b7280 !important;
}

.dark .MuiDataGrid-sortIcon,
.dark .MuiDataGrid-sortIcon path {
  color: #cbd5e1 !important;
  fill: #cbd5e1 !important;
}

.MuiDataGrid-columnHeaderTitle {
  color: #222428;
}
.dark .MuiDataGrid-columnHeaderTitle {
  color: #f4f5f8;
}
.dark .MuiDataGrid-overlay {
  color: white !important;
}