.report-busy-overlay .report-busy-spinner {
  width: 3.5rem;
  height: 3.5rem;
}

.dark ion-toggle {
    padding: 12px;
    --track-background: #aaa;
    --handle-box-shadow: none;
  }
  
  .dark li::marker {
    color: white;
  }
  